In [2]:
import numpy as np
import pandas as pd

In [3]:
def make_data(species,start=np.datetime64('2024-01-01T00:00:00') ,end=np.datetime64('2025-12-31T23:59:59'),n=100, seed=None):    
    if seed is not None:
        np.random.seed(seed)

    df = pd.DataFrame({
        "date": pd.to_datetime(start + (end - start) * np.random.rand(n)),
        "camId": np.random.randint(1, 4, size=n),
        "species": np.random.choice(species, size=n),
        "count": np.random.randint(1, 11, size=n),
        "confidence": np.round(np.random.uniform(50, 100, size=n), 2)
    })

    return df

species = ['Tiger','Lion','Bear','Elephant','Dear']
df = make_data(species=species,n=2000,seed=42)
df.head()

                 date  camId   species  count  confidence
0 2024-09-30 18:55:54      3      Bear      5       98.37
1 2025-11-25 23:19:53      3  Elephant      4       63.43
2 2025-06-19 02:06:05      3      Dear      8       74.74
3 2025-03-13 14:51:51      2      Bear      2       54.31
4 2024-04-24 01:11:27      2  Elephant     10       77.96

In [11]:
end = np.datetime64('2025-12-31T23:59:59')
start = end - np.timedelta64(7, "D")
print(start)
df1 = make_data(species=species,n=40,seed=42,start=start,end=end)
df2 = make_data(species=species,n=20,seed=42,start=end - np.timedelta64(1,"D"), end=end)
df2.head()

2025-12-24T23:59:59

                 date  camId   species  count  confidence
0 2025-12-31 08:59:19      3  Elephant      6       71.17
1 2025-12-31 22:49:00      3      Lion      2       69.74
2 2025-12-31 17:34:03      2      Lion     10       64.67
3 2025-12-31 14:22:03      3     Tiger      2       50.70
4 2025-12-31 03:44:39      2      Lion     10       59.94

In [12]:
df = pd.concat([df, df1, df2], ignore_index=True)

In [13]:
df.head()

                 date  camId   species  count  confidence
0 2024-09-30 18:55:54      3      Bear      5       98.37
1 2025-11-25 23:19:53      3  Elephant      4       63.43
2 2025-06-19 02:06:05      3      Dear      8       74.74
3 2025-03-13 14:51:51      2      Bear      2       54.31
4 2024-04-24 01:11:27      2  Elephant     10       77.96

In [14]:
df.to_csv("wildlife_data.csv", index=False)